<md-dialog aria-label="New Client" class="appdialog">

    <form name="clientFrm" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <span flex>Create Client</span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <ng-md-icon icon="clear" aria-label="Close dialog">
                    </ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>

            <!-- NAME -->
            <md-input-container class="md-block">
                <label key="name" class="tr" >Name</label>
                <input md-maxlength="255" required name="name" ng-model="client.name" class="dialog-close">
                <div ng-messages="clientFrm.name.$error">
                    <div ng-message="required">This is required.</div>
                    <div ng-message="md-maxlength">The name has to be less than 255 characters long.</div>
                </div>
            </md-input-container>

            <div layout-gt-sm="row">
              <md-input-container class="md-block"  flex-gt-sm>
                  <label>RG</label>
                  <input name="rg" required ng-model="client.rg"
                         md-minlength="10" md-maxlength="14" />
              </md-input-container>
              <md-input-container class="md-block"  flex-gt-sm>
                  <label>Cpf</label>
                  <input name="cpf" ng-model="client.cpf"
                          md-maxlength="11" />
              </md-input-container>
            </div>

            <div layout-gt-sm="row">
              <md-input-container class="md-block"  flex-gt-sm>
                  <label>Telephone Home</label>
                  <input name="telhome" required ng-model="client.telephone"
                         md-minlength="10" md-maxlength="14" />
              </md-input-container>
              <md-input-container class="md-block"  flex-gt-sm>
                  <label>Telephone mobile</label>
                  <input type="telephone" name="telephoneMobile" ng-model="client.mobile"
                         md-minlength="10" md-maxlength="14" />
              </md-input-container>
            </div>

            <!-- Address -->
            <md-input-container class="md-block">
                <label>Address</label>
                <input md-maxlength="255" required name="address" ng-model="client.address">
                <div ng-messages="clientFrm.address.$error">
                    <div ng-message="required">This is required.</div>
                    <div ng-message="md-maxlength">The name has to be less than 255 characters long.</div>
                </div>
            </md-input-container>

            <!-- EMAIL -->
            <md-input-container class="md-block">
                <label>Email</label>
                <input required type="email" name="email" ng-model="client.email"
                       md-minlength="10" md-maxlength="255" ng-pattern="/^.+@.+\..+$/" />
                <div ng-messages="clientFrm.email.$error" role="alert">
                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                        Your email must be between 10 and 255 characters long and look like an e-mail address.
                    </div>
                </div>
            </md-input-container>


            <div>
              <input id="fileInpt" type="file"
                    ng-if="!client.image_location"
                    name = "file"
                    onchange="angular.element(this).scope().fileNameChanged(this)"
                    class="md-raised md-primary"/>
              <open-image-dialog client="client" ng-model="client"
                                ng-if="client.image_location">
              </open-image-dialog>
            </div>

        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end">
            <md-button ng-click="cancel()" type="button">
                Cancel
            </md-button>
            <md-button ng-disabled="clientFrm.$invalid"
                        ng-click ="save()" class="md-primary"
                        ng-class="{'hidden': !selected.length == 0}">
                Save
            </md-button>
            <md-button ng-disabled="clientFrm.$invalid"
                        ng-click ="updateClientDB()"
                         class="md-primary"
                        ng-class="{'hidden': selected.length == 0}">
                Update
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
