<md-dialog aria-label="New Client" class="appdialog">

    <form name="clientFrm" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <span flex>Create Client</span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <ng-md-icon icon="clear" aria-label="Close dialog">
                    </ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>

            <!-- NAME -->
            <md-input-container class="md-block">
                <label>Name</label>
                <input md-maxlength="255" required name="name" ng-model="client.name" class="dialog-close">
                <div ng-messages="clientFrm.name.$error">
                    <div ng-message="required">This is required.</div>
                    <div ng-message="md-maxlength">The name has to be less than 255 characters long.</div>
                </div>
            </md-input-container>

            <!-- Address -->
            <md-input-container class="md-block">
                <label>Address</label>
                <input md-maxlength="255" required name="address" ng-model="client.address">
                <div ng-messages="clientFrm.address.$error">
                    <div ng-message="required">This is required.</div>
                    <div ng-message="md-maxlength">The name has to be less than 255 characters long.</div>
                </div>
            </md-input-container>

            <!-- EMAIL -->
            <md-input-container class="md-block">
                <label>Email</label>
                <input required type="email" name="email" ng-model="client.email"
                       md-minlength="10" md-maxlength="255" ng-pattern="/^.+@.+\..+$/" />
                <div ng-messages="clientFrm.email.$error" role="alert">
                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                        Your email must be between 10 and 255 characters long and look like an e-mail address.
                    </div>
                </div>
            </md-input-container>
              <md-input-container class="md-block">
                   <!-- <input id="input-file-id" type="file" accept="image/*" /> -->
                   <input id="fileInput" type="file" class="ng-hide">
                   <md-button id="uploadButton" class="md-raised md-primary" aria-label="attach_file">
                         Choose file </md-button><md-input-container  md-no-float>    
                           <input id="textInput" ng-model="fileName" type="text"
                           placeholder="No file chosen" ng-readonly="true">
                         </md-input-container>'
                  <!-- <aps-upload-file></aps-upload-file> -->
              </md-input-container>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end">
            <md-button ng-click="cancel()" type="button">
                Cancel
            </md-button>
            <md-button ng-disabled="clientFrm.$invalid"
                        ng-click ="save()" class="md-primary"
                        ng-class="{'hidden': !selected.length == 0}">
                Save
            </md-button>
            <md-button ng-disabled="clientFrm.$invalid"
                        ng-click ="updateClientDB()"
                         class="md-primary"
                        ng-class="{'hidden': selected.length == 0}">
                Update
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
